<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" internalLogFile="c:\users\mana\desktop\log.txt" internalLogLevel="Trace">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <targets>
    <target name="syslog" type="Syslog" layout="${longdate} [${level:uppercase=true}][${logger:shortName=true}][thread-id-${threadid}]::${message}">
      <messageCreation>
        <facility>{facility}</facility>
        <rfc5424 hostname="{hostname}" appname="${logger}" />
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>{syslogserver}</server>
          <port>{port}</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole, syslog" />
  </rules>
</nlog>
